@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.audio-player {
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.audio-player button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #10b981;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.audio-player button:hover {
  background-color: #059669;
}
