# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs
*.log

# Docker
.dockerignore
Dockerfile

# Python (FastAPI)
venv/
__pycache__/

# Prisma
prisma/migrations/

# IDE settings
.vscode/
.idea/

# Build outputs
dist/
out/
build/
